* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f7456;
}
.heading {
  text-align: center;
}
.heading {
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: yellow;
}
.game-info {
  margin-bottom: 5px;
}
.hfull {
  height: 100vh;
  width: 100vw;
}
.board {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 68vw;
  height: 90vh;
}

.container {
  /* padding: 25px; */
  width: 700px;
  height: 700px;
  position: relative;
  /* background-color: rgb(8, 91, 164); */
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr); */
  gap: 10px;
  /* border: 5px solid black; */
}

.block {
  width: 210px;
  height: 210px;
  cursor: pointer;
  padding: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 5px solid black; */
}

/* General classes start */
.flx {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* General classes End */

/* ##################################
#####################################
##################################### */

/* Animation Section start */

.verticalLine {
  /* width: 100%; */
  stroke-dasharray: 1318;
  /* stroke-dashoffset: 0; */
  animation: 1s svgverticalLine linear;
}
@keyframes svgverticalLine {
  0% {
    stroke-dashoffset: 1318;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
.line2-parent {
  padding-left: 155px;
  height: fit-content;
  position: absolute;
}
.line3-parent {
  padding-left: 375px;
  height: fit-content;
  position: absolute;
}

.horizontalLine {
  /* width: 100%; */
  stroke-dasharray: 1195;
  /* stroke-dashoffset: 0; */
  animation: 1s svgHorizontalLine linear;
}

.vline1-parent {
  height: 0;
}
.vline2-parent {
  height: 0;
}
@keyframes svgHorizontalLine {
  0% {
    stroke-dashoffset: 1195;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
.tick {
  height: 300px;
  width: 300px;
  fill: transparent;
  stroke-dasharray: 736;
  /* stroke-dashoffset: 0; */
  animation: 0.3s fillsvgTick linear;
}
@keyframes fillsvgTick {
  0% {
    stroke-dashoffset: 736;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
.crossline1 {
  height: 300px;
  width: 300px;
  stroke-dasharray: 736;
  /* stroke-dashoffset: 0; */
  animation: 0.3s fillsvg1 linear;
}

.crossline2 {
  height: 300px;
  width: 300px;

  stroke-dasharray: 736;
  /* stroke-dashoffset: 0; */
  animation: 0.5s fillsvg2 linear;
}

@keyframes fillsvg1 {
  0% {
    stroke-dashoffset: 736;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fillsvg2 {
  0% {
    visibility: hidden;
    stroke-dashoffset: 736;
  }

  50% {
    visibility: visible;
    stroke-dashoffset: 736;
  }

  100% {
    visibility: visible;
    stroke-dashoffset: 0;
  }
}
/* Animation Section end  */

.button {
  position: relative;
  background-color: #4caf50;
  border: none;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 20px;
  margin: 0 10px;
  /* width: 150px; */
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
